# Rust build output
/target

# Vite build output
/dist

# JS dependencies
/node_modules

# WASM build output
/wasm-pkg

# macOS system files
.DS_Store
**/.DS_Store

# JetBrains IDE files
.idea/

# Environment variables
.env
.env.*
!.env.example

# OS
Thumbs.db

# Claude
.claude/
CLAUDE.md
ROADMAP.md

# Other
DESIGN.md
